<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>配置管理</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div>
        <label for="configType">配置类型</label>
        <select class="select form-control" id="configType" name="configType"
                ng-change="vm.configTypeChange()"
                ng-model="vm.configType">
          <option value="APC">入网配置</option>
          <option value="SER">服务器连接配置</option>
          <option value="CFG">全局配置</option>
          <option value="TMA">时间调整</option>
          <option value="DOG">协议看门狗</option>
          <option value="ACO">空调控制</option>
          <option value="SEC">安全配置</option>
          <option value="OMC">输出模式配置</option>
          <option value="DOA">门禁告警</option>
          <option value="SMA">烟雾告警</option>
          <option value="OUO">订单下发</option>
          <option value="OUT">OUTPUT控制</option>
          <option value="MUO">多媒体操作命令</option>
          <option value="RTO">实时操作命令</option>
        </select>
      </div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">查询条件</div>
          <div class="panel-body">
            <form id="formSearch" class="form-horizontal" ng-submit="vm.searchConfig()">
              <div class="form-group" style="margin-top:15px">
                <label class="control-label col-sm-1" for="searchName">配置名称</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="searchName" ng-model="vm.txtSearchName">
                </div>
                <div class="col-sm-4" style="text-align:left;">
                  <button type="submit" style="margin-left:50px" class="btn btn-primary">查询</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="toolbar" class="btn-group">
          <button id="btnAddConfig" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
          </button>
          <button id="btnDelConfig" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
          </button>
        </div>
        <div class="tableMargin">
          <table class="table table-hover table-striped" id="configTable"></table>
          <ul class="pagination"></ul>
        </div>
      </div>
    </div>

    <!-- APC Modal -->
    <div class="modal fade" id="APCModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configUpdate()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="apcModalTitle">
              入网配置(Access Point Configuration)
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="apcModalName">配置名称</label>
                <input class="form-control" id="apcModalName" name="apcModalName" type="text"
                       required="required"
                       ng-model="vm.modal.name"/>
              </div>
              <div>
                <label for="apcModalNotes">备注</label>
                <textarea class="form-control" rows="3" id="apcModalNotes" name="apcModalNotes"
                          ng-model="vm.modal.notes"></textarea>
              </div>
              <div>
                <label for="apcModalAPN">APN</label>
                <input class="form-control" id="apcModalAPN" name="apcModalAPN" type="text"
                       required="required"
                       ng-model="vm.modal.apn"/>
              </div>
              <div>
                <label for="apcModalAPNUserName">APN User Name</label>
                <input class="form-control" id="apcModalAPNUserName" name="apcModalAPNUserName" type="text"
                       required="required"
                       ng-model="vm.modal.apnUserName"/>
              </div>
              <div>
                <label for="apcModalAPNPassword">APN Password</label>
                <input class="form-control" id="apcModalAPNPassword" name="apcModalAPNPassword" type="text"
                       required="required"
                       ng-model="vm.modal.apnPassword"/>
              </div>
              <div>
                <label for="apcModalMainDNS">Main DNS Server</label>
                <div class="form-inline" id="apcModalMainDNS">
                  <input id="apcModalMainDNS1" name="apcModalMainDNS1" type="number"
                         required="required"
                         ng-model="vm.modal.mainDNS[0]"/>
                  <label>.</label>
                  <input id="apcModalMainDNS2" name="apcModalMainDNS2" type="number"
                         required="required"
                         ng-model="vm.modal.mainDNS[1]"/>
                  <label>.</label>
                  <input id="apcModalMainDNS3" name="apcModalMainDNS3" type="number"
                         required="required"
                         ng-model="vm.modal.mainDNS[2]"/>
                  <label>.</label>
                  <input id="apcModalMainDNS4" name="apcModalMainDNS4" type="number"
                         required="required"
                         ng-model="vm.modal.mainDNS[3]"/>
                </div>
              </div>
              <div>
                <label for="apcModalBackupDNS">Backup DNS Server</label>
                <div class="form-inline" id="apcModalBackupDNS">
                  <input id="apcModalBackupDNS1" name="apcModalBackupDNS1" type="number"
                         required="required"
                         ng-model="vm.modal.backupDNS[0]"/>
                  <label>.</label>
                  <input id="apcModalBackupDNS2" name="apcModalBackupDNS2" type="number"
                         required="required"
                         ng-model="vm.modal.backupDNS[1]"/>
                  <label>.</label>
                  <input id="apcModalBackupDNS3" name="apcModalBackupDNS3" type="number"
                         required="required"
                         ng-model="vm.modal.backupDNS[2]"/>
                  <label>.</label>
                  <input id="apcModalBackupDNS4" name="apcModalBackupDNS4" type="number"
                         required="required"
                         ng-model="vm.modal.backupDNS[3]"/>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              保存
            </button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- SER Modal -->
    <div class="modal fade" id="SERModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configUpdate()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="serModalTitle">
              服务器连接配置(Server Configuration)
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="serModalName">配置名称</label>
                <input class="form-control" id="serModalName" name="serModalName" type="text"
                       required="required"
                       ng-model="vm.modal.name"/>
              </div>
              <div>
                <label for="serModalNotes">备注</label>
                <textarea class="form-control" rows="3" id="serModalNotes" name="serModalNotes"
                          ng-model="vm.modal.notes"></textarea>
              </div>
              <div>
                <label for="serModalMode">Report Mode</label>
                <input class="form-control" id="serModalMode" name="serModalMode" type="text"
                       required="required"
                       ng-model="vm.modal.mode"/>
              </div>
              <div>
                <label for="serModalMainServer">Main Server Domain Name</label>
                <input class="form-control" id="serModalMainServer" name="serModalMainServer" type="text"
                       required="required"
                       ng-model="vm.modal.mainServer"/>
              </div>
              <div>
                <label for="serModalMainPort">Main Server Port</label>
                <input class="form-control" id="serModalMainPort" name="serModalMainPort" type="text"
                       required="required"
                       ng-model="vm.modal.mainPort"/>
              </div>
              <div>
                <label for="serModalBackupServer">Backup Server Domain Name</label>
                <input class="form-control" id="serModalBackupServer" name="serModalBackupServer" type="text"
                       required="required"
                       ng-model="vm.modal.backupServer"/>
              </div>
              <div>
                <label for="serModalBackupPort">Backup Server Port</label>
                <input class="form-control" id="serModalBackupPort" name="serModalBackupPort" type="text"
                       required="required"
                       ng-model="vm.modal.backupPort"/>
              </div>
              <div>
                <label for="serModalSMSGateway">SMS Gateway</label>
                <input class="form-control" id="serModalSMSGateway" name="serModalSMSGateway" type="text"
                       required="required"
                       ng-model="vm.modal.sms"/>
              </div>
              <div>
                <label for="serModalHbpInterval">Heartbeat Interval</label>
                <input class="form-control" id="serModalHbpInterval" name="serModalHbpInterval" type="text"
                       required="required"
                       ng-model="vm.modal.hbpInterval"/>
              </div>
              <div>
                <label for="serModalMaxRandomTime">Max Random Time</label>
                <input class="form-control" id="serModalMaxRandomTime" name="serModalMaxRandomTime" type="text"
                       required="required"
                       ng-model="vm.modal.maxRandomTime"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              保存
            </button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- CFG Modal -->
    <div class="modal fade" id="CFGModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configUpdate()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="cfgModalTitle">
              全局配置(Configuration)
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="cfgModalName">配置名称</label>
                <input class="form-control" id="cfgModalName" name="cfgModalName" type="text"
                       required="required"
                       ng-model="vm.modal.name"/>
              </div>
              <div>
                <label for="cfgModalNotes">备注</label>
                <textarea class="form-control" rows="3" id="cfgModalNotes" name="cfgModalNotes"
                          ng-model="vm.modal.notes"></textarea>
              </div>
              <div>
                <label for="cfgModalEventMask">Event Mask</label>
                <input class="form-control" id="cfgModalEventMask" name="cfgModalEventMask" type="text"
                       placeholder="请输入HEX格式(0x0000 - 0xFFFF)"
                       required="required"
                       ng-model="vm.modal.mask"/>
              </div>
              <div>
                <label for="cfgModalInfInterval">Info Report Interval</label>
                <input class="form-control" id="cfgModalInfInterval" name="cfgModalInfInterval" type="text"
                       required="required"
                       ng-model="vm.modal.infInterval"/>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              保存
            </button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- TMA Modal -->
    <div class="modal fade" id="TMAModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configUpdate()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="tmaModalTitle">
              时间调整(Time Adjust)
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label>配置名称</label>
                <input class="form-control" type="text"
                       required="required"
                       ng-model="vm.modal.name"/>
              </div>
              <div>
                <label>备注</label>
                <textarea class="form-control" rows="3"
                          ng-model="vm.modal.notes"></textarea>
              </div>
              <div>
                <label for="tmaModalAutoAdjust">Time Adjust</label>
                <br>
                <label for="tmaModalAutoAdjust">自动调整本地时间</label>
                <select class="select form-control" id="tmaModalAutoAdjust" name="tmaModalAutoAdjust"
                        ng-model="vm.modal.autoAdjust">
                  <option value="0">关闭</option>
                  <option value="1">开启</option>
                </select>
              </div>
              <div>
                <label for="tmaModalUTC">UTC Time</label>
                <input class="form-control" id="tmaModalUTC" name="tmaModalUTC" type="text"
                       placeholder="Unix Timestamp"
                       required="required"
                       ng-model="vm.modal.utc"/>
                <button type="button" class="btn btn-info" ng-click="vm.modal.utc = vm.fillDatetime()">当前服务器时间</button>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              保存
            </button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- DOG Modal -->
    <div class="modal fade" id="DOGModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configUpdate()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              协议看门狗(Watchdog)
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label>配置名称</label>
                <input class="form-control" type="text"
                       required="required"
                       ng-model="vm.modal.name"/>
              </div>
              <div>
                <label>备注</label>
                <textarea class="form-control" rows="3"
                          ng-model="vm.modal.notes"></textarea>
              </div>
              <div>
                <label for="dogModalModeSW">Mode</label>
                <br>
                <label for="dogModalModeSW">协议看门狗</label>
                <select class="select form-control" id="dogModalModeSW" name="dogModalModeSW"
                        ng-model="vm.modal.sw">
                  <option value="0">关闭</option>
                  <option value="1">开启</option>
                </select>
                <label for="dogModalModeReport">协议看门狗报文上报</label>
                <select class="select form-control" id="dogModalModeReport" name="dogModalModeReport"
                        ng-model="vm.modal.report">
                  <option value="0">关闭</option>
                  <option value="1">开启</option>
                </select>
                <label for="dogModalModeInterval">重启间隔</label>
                <input class="form-control" id="dogModalModeInterval" name="dogModalModeInterval" type="text"
                       placeholder="单位为天(1 - 31)"
                       required="required"
                       ng-model="vm.modal.interval"/>
              </div>
              <div>
                <label for="dogModalRebootTimeHour">Reboot Time</label>
                <br>
                <label for="dogModalRebootTimeHour">重启时刻小时</label>
                <input class="form-control" id="dogModalRebootTimeHour" name="dogModalRebootTimeHour" type="text"
                       placeholder="重启时刻小时(0 - 23)"
                       required="required"
                       ng-model="vm.modal.rebootHour"/>
                <label for="dogModalRebootTimeMinute">重启时刻分钟</label>
                <input class="form-control col-md-6" id="dogModalRebootTimeMinute" name="dogModalRebootTimeMinute"
                       type="text"
                       placeholder="重启时刻分钟(0 - 59)"
                       required="required"
                       ng-model="vm.modal.rebootMinute"/>
              </div>
              <div>
                <label for="dogModalMaxRandomTime">Max Random Time</label>
                <input class="form-control" id="dogModalMaxRandomTime" name="dogModalMaxRandomTime" type="text"
                       placeholder="单位为秒(0 - 65535)"
                       required="required"
                       ng-model="vm.modal.randomTime"/>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              保存
            </button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

  </div>
</section>
