<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>配置下发</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div>
        <label for="configType">配置类型</label>
        <select class="select form-control" id="configType" name="configType"
                ng-change="vm.configTypeChange()"
                ng-model="vm.configType">
          <option value="APC">入网配置</option>
          <option value="SER">服务器连接配置</option>
          <option value="CFG">全局配置</option>
          <option value="TMA">时间调整</option>
          <option value="DOG">协议看门狗</option>
          <option value="ACO">空调控制</option>
          <!--option value="SEC">安全配置</option-->
          <option value="OMC">输出模式配置</option>
          <option value="DOA">门禁告警</option>
          <option value="SMA">烟雾告警</option>
          <option value="OUO">订单下发</option>
          <option value="OUT">OUTPUT控制</option>
          <option value="MUO">多媒体操作命令</option>
          <option value="RTO">实时操作命令</option>
        </select>
      </div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="input-group">
            <input class="form-control" type="text" name="searchData" id="searchData" placeholder="请输入盒子名称"
                   ng-model="vm.searchData"/>
            <span class="input-group-btn">
          <button class="btn btn-default" ng-click="vm.searchByName()">搜索</button>
        </span>
          </div><!-- /input-group -->
        </div>
        <div id="toolbar" class="btn-group">
          <button id="btnBatchConfig" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>批量下发
          </button>
        </div>
        <div class="tableMargin">
          <table class="table table-hover table-striped" id="boxTable"></table>
          <ul class="pagination"></ul>
        </div>
      </div>
    </div>

    <!-- APC Modal -->
    <div class="modal fade" id="APCModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title" id="apcModalTitle">
                入网配置(Access Point Configuration)
              </h4>
              <select class="select form-control" id="apcModalConfig" name="apcModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="apcModalName">配置名称</label>
                <input class="form-control" id="apcModalName" name="apcModalName" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.name"/>
              </div>
              <div>
                <label for="apcModalNotes">备注</label>
                <textarea class="form-control" rows="3" id="apcModalNotes" name="apcModalNotes"
                          readonly="readonly"
                          ng-model="vm.modalData.notes"></textarea>
              </div>
              <div>
                <label for="apcModalAPN">APN</label>
                <input class="form-control" id="apcModalAPN" name="apcModalAPN" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.apn"/>
              </div>
              <div>
                <label for="apcModalAPNUserName">APN User Name</label>
                <input class="form-control" id="apcModalAPNUserName" name="apcModalAPNUserName" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.apnUserName"/>
              </div>
              <div>
                <label for="apcModalAPNPassword">APN Password</label>
                <input class="form-control" id="apcModalAPNPassword" name="apcModalAPNPassword" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.apnPassword"/>
              </div>
              <div>
                <label for="apcModalMainDNS">Main DNS Server</label>
                <div class="form-inline" id="apcModalMainDNS">
                  <input id="apcModalMainDNS1" name="apcModalMainDNS1" type="number"
                         readonly="readonly"
                         ng-model="vm.modalData.mainDNS[0]"/>
                  <label>.</label>
                  <input id="apcModalMainDNS2" name="apcModalMainDNS2" type="number"
                         readonly="readonly"
                         ng-model="vm.modalData.mainDNS[1]"/>
                  <label>.</label>
                  <input id="apcModalMainDNS3" name="apcModalMainDNS3" type="number"
                         readonly="readonly"
                         ng-model="vm.modalData.mainDNS[2]"/>
                  <label>.</label>
                  <input id="apcModalMainDNS4" name="apcModalMainDNS4" type="number"
                         readonly="readonly"
                         ng-model="vm.modalData.mainDNS[3]"/>
                </div>
              </div>
              <div>
                <label for="apcModalBackupDNS">Backup DNS Server</label>
                <div class="form-inline" id="apcModalBackupDNS">
                  <input id="apcModalBackupDNS1" name="apcModalBackupDNS1" type="number"
                         readonly="readonly"
                         ng-model="vm.modalData.backupDNS[0]"/>
                  <label>.</label>
                  <input id="apcModalBackupDNS2" name="apcModalBackupDNS2" type="number"
                         readonly="readonly"
                         ng-model="vm.modalData.backupDNS[1]"/>
                  <label>.</label>
                  <input id="apcModalBackupDNS3" name="apcModalBackupDNS3" type="number"
                         readonly="readonly"
                         ng-model="vm.modalData.backupDNS[2]"/>
                  <label>.</label>
                  <input id="apcModalBackupDNS4" name="apcModalBackupDNS4" type="number"
                         readonly="readonly"
                         ng-model="vm.modalData.backupDNS[3]"/>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- SER Modal -->
    <div class="modal fade" id="SERModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title" id="serModalTitle">
                服务器连接配置(Server Configuration)
              </h4>
              <select class="select form-control" id="serModalConfig" name="serModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="serModalName">配置名称</label>
                <input class="form-control" id="serModalName" name="serModalName" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.name"/>
              </div>
              <div>
                <label for="serModalNotes">备注</label>
                <textarea class="form-control" rows="3" id="serModalNotes" name="serModalNotes"
                          readonly="readonly"
                          ng-model="vm.modalData.notes"></textarea>
              </div>
              <div>
                <label for="serModalMode">Report Mode</label>
                <input class="form-control" id="serModalMode" name="serModalMode" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.mode"/>
              </div>
              <div>
                <label for="serModalMainServer">Main Server Domain Name</label>
                <input class="form-control" id="serModalMainServer" name="serModalMainServer" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.mainServer"/>
              </div>
              <div>
                <label for="serModalMainPort">Main Server Port</label>
                <input class="form-control" id="serModalMainPort" name="serModalMainPort" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.mainPort"/>
              </div>
              <div>
                <label for="serModalBackupServer">Backup Server Domain Name</label>
                <input class="form-control" id="serModalBackupServer" name="serModalBackupServer" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.backupServer"/>
              </div>
              <div>
                <label for="serModalBackupPort">Backup Server Port</label>
                <input class="form-control" id="serModalBackupPort" name="serModalBackupPort" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.backupPort"/>
              </div>
              <div>
                <label for="serModalSMSGateway">SMS Gateway</label>
                <input class="form-control" id="serModalSMSGateway" name="serModalSMSGateway" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.sms"/>
              </div>
              <div>
                <label for="serModalHbpInterval">Heartbeat Interval</label>
                <input class="form-control" id="serModalHbpInterval" name="serModalHbpInterval" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.hbpInterval"/>
              </div>
              <div>
                <label for="serModalMaxRandomTime">Max Random Time</label>
                <input class="form-control" id="serModalMaxRandomTime" name="serModalMaxRandomTime" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.maxRandomTime"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- CFG Modal -->
    <div class="modal fade" id="CFGModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title" id="cfgModalTitle">
                全局配置(Configuration)
              </h4>
              <select class="select form-control" id="cfgModalConfig" name="cfgModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="cfgModalEventMask">Event Mask</label>
                <input class="form-control" id="cfgModalEventMask" name="cfgModalEventMask" type="text"
                       placeholder="请输入HEX格式(0x0000 - 0xFFFF)"
                       readonly="readonly"
                       ng-model="vm.modalData.mask"/>
              </div>
              <div>
                <label for="cfgModalInfInterval">Info Report Interval</label>
                <input class="form-control" id="cfgModalInfInterval" name="cfgModalInfInterval" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.infInterval"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- TMA Modal -->
    <div class="modal fade" id="TMAModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title" id="tmaModalTitle">
                时间调整(Time Adjust)
              </h4>
              <select class="select form-control" id="tmaModalConfig" name="tmaModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label>配置名称</label>
                <input class="form-control" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.name"/>
              </div>
              <div>
                <label>备注</label>
                <textarea class="form-control" rows="3"
                          readonly="readonly"
                          ng-model="vm.modalData.notes"></textarea>
              </div>
              <div>
                <label for="tmaModalAutoAdjust">Time Adjust</label>
                <br>
                <label for="tmaModalAutoAdjust">自动调整本地时间</label>
                <select class="select form-control" id="tmaModalAutoAdjust" name="tmaModalAutoAdjust"
                        disabled="disabled"
                        ng-model="vm.modalData.autoAdjust">
                  <option value="0">关闭</option>
                  <option value="1">开启</option>
                </select>
              </div>
              <div>
                <label for="tmaModalUTC">UTC Time</label>
                <input class="form-control" id="tmaModalUTC" name="tmaModalUTC" type="text"
                       placeholder="Unix Timestamp"
                       readonly="readonly"
                       ng-model="vm.modalData.utc"/>
                <button type="button" class="btn btn-info" ng-click="vm.modalData.utc = vm.fillDatetime(0)">当前服务器时间
                </button>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- DOG Modal -->
    <div class="modal fade" id="DOGModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title">
                协议看门狗(Watchdog)
              </h4>
              <select class="select form-control" id="dogModalConfig" name="dogModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label>配置名称</label>
                <input class="form-control" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.name"/>
              </div>
              <div>
                <label>备注</label>
                <textarea class="form-control" rows="3"
                          readonly="readonly"
                          ng-model="vm.modalData.notes"></textarea>
              </div>
              <div>
                <label for="dogModalModeSW">Mode</label>
                <br>
                <label for="dogModalModeSW">协议看门狗</label>
                <select class="select form-control" id="dogModalModeSW" name="dogModalModeSW"
                        disabled="disabled"
                        ng-model="vm.modalData.sw">
                  <option value="0">关闭</option>
                  <option value="1">开启</option>
                </select>
                <label for="dogModalModeReport">协议看门狗报文上报</label>
                <select class="select form-control" id="dogModalModeReport" name="dogModalModeReport"
                        disabled="disabled"
                        ng-model="vm.modalData.report">
                  <option value="0">关闭</option>
                  <option value="1">开启</option>
                </select>
                <label for="dogModalModeInterval">重启间隔</label>
                <input class="form-control" id="dogModalModeInterval" name="dogModalModeInterval" type="text"
                       placeholder="单位为天(1 - 31)"
                       readonly="readonly"
                       ng-model="vm.modalData.interval"/>
              </div>
              <div>
                <label for="dogModalRebootTimeHour">Reboot Time</label>
                <br>
                <label for="dogModalRebootTimeHour">重启时刻小时</label>
                <input class="form-control" id="dogModalRebootTimeHour" name="dogModalRebootTimeHour" type="text"
                       placeholder="重启时刻小时(0 - 23)"
                       readonly="readonly"
                       ng-model="vm.modalData.rebootHour"/>
                <label for="dogModalRebootTimeMinute">重启时刻分钟</label>
                <input class="form-control col-md-6" id="dogModalRebootTimeMinute" name="dogModalRebootTimeMinute"
                       type="text"
                       placeholder="重启时刻分钟(0 - 59)"
                       readonly="readonly"
                       ng-model="vm.modalData.rebootMinute"/>
              </div>
              <div>
                <label for="dogModalMaxRandomTime">Max Random Time</label>
                <input class="form-control" id="dogModalMaxRandomTime" name="dogModalMaxRandomTime" type="text"
                       placeholder="单位为秒(0 - 65535)"
                       readonly="readonly"
                       ng-model="vm.modalData.randomTime"/>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- ACO Modal -->
    <div class="modal fade" id="ACOModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title">
                空调控制(Air Conditioner Operation)
              </h4>
              <select class="select form-control" id="acoModalConfig" name="acoModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label>配置名称</label>
                <input class="form-control" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.name"/>
              </div>
              <div>
                <label>备注</label>
                <textarea class="form-control" rows="3"
                          readonly="readonly"
                          ng-model="vm.modalData.notes"></textarea>
              </div>
              <div>
                <label for="acoModalPwrMode">Mode</label>
                <br>
                <label for="acoModalPwrMode">空调开关</label>
                <select class="select form-control" id="acoModalPwrMode" name="acoModalPwrMode"
                        disabled="disabled"
                        ng-model="vm.modalData.pwrMode">
                  <option value="0">空调常关</option>
                  <option value="1">空调常开</option>
                  <option value="2">空调自动控制模式</option>
                </select>
                <label for="acoModalWorkMode">模式</label>
                <select class="select form-control" id="acoModalWorkMode" name="acoModalWorkMode"
                        disabled="disabled"
                        ng-model="vm.modalData.workMode">
                  <option value="0">制冷</option>
                  <option value="1">制热</option>
                  <option value="2">自动</option>
                  <option value="3">抽湿</option>
                </select>
                <label for="acoModalWind">风力</label>
                <select class="select form-control" id="acoModalWind" name="acoModalWind"
                        disabled="disabled"
                        ng-model="vm.modalData.wind">
                  <option value="0">高</option>
                  <option value="1">中</option>
                  <option value="2">低</option>
                  <option value="3">自动</option>
                </select>
              </div>
              <div>
                <label for="acoModalInterval">Interval</label>
                <input class="form-control" id="acoModalInterval" name="acoModalInterval" type="text"
                       placeholder="自动控制模式下，空调开启间隔，单位为分钟(0 - 255)"
                       readonly="readonly"
                       ng-model="vm.modalData.interval"/>
              </div>
              <div>
                <label for="acoModalDuration">Duration</label>
                <input class="form-control" id="acoModalDuration" name="acoModalDuration" type="text"
                       placeholder="自动控制模式下，空调开启时长，单位为分钟(0 - 255)"
                       readonly="readonly"
                       ng-model="vm.modalData.duration"/>
              </div>
              <div>
                <label for="acoModalTemp">Temperature</label>
                <input class="form-control" id="acoModalTemp" name="acoModalTemp" type="text"
                       placeholder="摄氏度(0 - 255)"
                       readonly="readonly"
                       ng-model="vm.modalData.temperature"/>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- OMC Modal -->
    <div class="modal fade" id="OMCModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title">
                输出模式配置(Output Mode Configuration)
              </h4>
              <select class="select form-control" id="omcModalConfig" name="omcModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label>配置名称</label>
                <input class="form-control" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.name"/>
              </div>
              <div>
                <label>备注</label>
                <textarea class="form-control" rows="3"
                          readonly="readonly"
                          ng-model="vm.modalData.notes"></textarea>
              </div>
              <div>
                <label for="omcModalIdleOutput">Idle Output</label>
                <input class="form-control" id="omcModalIdleOutput" name="omcModalIdleOutput" type="text"
                       readonly="readonly"
                       placeholder="无订单时输出状态，请输入HEX格式(0x00000000 - 0xFFFFFFFF)"
                       ng-model="vm.modalData.idleOutput"/>
              </div>
              <div>
                <label for="omcModalInserviceOutput">In-service Output</label>
                <input class="form-control" id="omcModalInserviceOutput" name="omcModalInserviceOutput" type="text"
                       readonly="readonly"
                       placeholder="有订单时输出状态，请输入HEX格式(0x00000000 - 0xFFFFFFFF)"
                       ng-model="vm.modalData.inserviceOutput"/>
              </div>
              <div>
                <label for="omcModalMode">Mode</label>
                <select class="select form-control" id="omcModalMode" name="omcModalMode"
                        disabled="disabled"
                        ng-model="vm.modalData.mode">
                  <option value="0">特定时段输出模式关</option>
                  <option value="1">特定时段输出模式开</option>
                  <option value="2">特定时段输出模式开，输出模式切换时上报报文</option>
                </select>
              </div>
              <div>
                <label for="omcModalValidTime">Valid Time</label>
                <br>
                <label for="omcModalValidTimeBeginHour">起始时刻小时</label>
                <input class="form-control" id="omcModalValidTimeBeginHour" name="omcModalValidTimeBeginHour"
                       type="text"
                       readonly="readonly"
                       placeholder="请输入起始时刻小时(0 - 23)"
                       ng-model="vm.modalData.beginHour"/>
                <label for="omcModalValidTimeBeginMinute">起始时刻分钟</label>
                <input class="form-control" id="omcModalValidTimeBeginMinute" name="omcModalValidTimeBeginMinute"
                       type="text"
                       readonly="readonly"
                       placeholder="请输入起始时刻分钟(0 - 59)"
                       ng-model="vm.modalData.beginMinute"/>
                <label for="omcModalValidTimeEndHour">结束时刻小时</label>
                <input class="form-control" id="omcModalValidTimeEndHour" name="omcModalValidTimeEndHour" type="text"
                       readonly="readonly"
                       placeholder="请输入结束时刻小时(0 - 23)"
                       ng-model="vm.modalData.endHour"/>
                <label for="omcModalValidTimeEndMinute">结束时刻分钟</label>
                <input class="form-control" id="omcModalValidTimeEndMinute" name="omcModalValidTimeEndMinute"
                       type="text"
                       readonly="readonly"
                       placeholder="请输入结束时刻分钟(0 - 59)"
                       ng-model="vm.modalData.endMinute"/>
              </div>
              <div>
                <label for="omcModalValidTimeIdleOutput">Valid Time Idle Output</label>
                <input class="form-control" id="omcModalValidTimeIdleOutput" name="omcModalValidTimeIdleOutput"
                       type="text"
                       readonly="readonly"
                       placeholder="特定时段无订单时输出状态，请输入HEX格式(0x00000000 - 0xFFFFFFFF)"
                       ng-model="vm.modalData.validIdleOutput"/>
              </div>
              <div>
                <label for="omcModalValidTimeInserviceOutput">Valid Time Idle Output</label>
                <input class="form-control" id="omcModalValidTimeInserviceOutput"
                       name="omcModalValidTimeInserviceOutput" type="text"
                       readonly="readonly"
                       placeholder="特定时段有订单时输出状态，请输入HEX格式(0x00000000 - 0xFFFFFFFF)"
                       ng-model="vm.modalData.validInserviceOutput"/>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div>
    </div><!-- /.modal -->

    <!-- DOA Modal -->
    <div class="modal fade" id="DOAModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title">
                门禁告警(Door Alarm)
              </h4>
              <select class="select form-control" id="doaModalConfig" name="doaModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label>配置名称</label>
                <input class="form-control" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.name"/>
              </div>
              <div>
                <label>备注</label>
                <textarea class="form-control" rows="3"
                          readonly="readonly"
                          ng-model="vm.modalData.notes"></textarea>
              </div>
              <div>
                <label for="doaModalMode">Mode</label>
                <input class="form-control" id="doaModalMode" name="doaModalMode" type="text"
                       readonly="readonly"
                       placeholder="(0 - 2)"
                       ng-model="vm.modalData.mode"/>
              </div>
              <div>
                <label for="doaModalTriggerType">Trigger Type</label>
                <input class="form-control" id="doaModalTriggerType" name="doaModalTriggerType" type="text"
                       readonly="readonly"
                       placeholder="门禁告警触发类型，(0 - 255)"
                       ng-model="vm.modalData.type"/>
              </div>
              <div>
                <label for="doaModalDuration">Duration</label>
                <input class="form-control" id="doaModalDuration" name="doaModalDuration" type="text"
                       readonly="readonly"
                       placeholder="门禁告警触发防误报时长，单位分钟(0 - 255)"
                       ng-model="vm.modalData.duration"/>
              </div>
              <div>
                <label for="doaModalInterval">Interval</label>
                <input class="form-control" id="doaModalInterval" name="doaModalInterval" type="text"
                       readonly="readonly"
                       placeholder="模式为2时，处于触发状态，告警报文上报间隔，单位为秒(0 - 255)"
                       ng-model="vm.modalData.interval"/>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- SMA Modal -->
    <div class="modal fade" id="SMAModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title">
                烟雾告警(Smoke Alarm)
              </h4>
              <select class="select form-control" id="smaModalConfig" name="smaModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label>配置名称</label>
                <input class="form-control" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.name"/>
              </div>
              <div>
                <label>备注</label>
                <textarea class="form-control" rows="3"
                          readonly="readonly"
                          ng-model="vm.modalData.notes"></textarea>
              </div>
              <div>
                <label for="smaModalMode">Mode</label>
                <input class="form-control" id="smaModalMode" name="smaModalMode" type="text"
                       readonly="readonly"
                       placeholder="(0 - 2)"
                       ng-model="vm.modalData.mode"/>
              </div>
              <div>
                <label for="smaModalThreshold">Threshold</label>
                <input class="form-control" id="smaModalThreshold" name="smaModalThreshold" type="text"
                       readonly="readonly"
                       placeholder="烟雾告警触发阈值，(0 - 255)"
                       ng-model="vm.modalData.threshold"/>
              </div>
              <div>
                <label for="smaModalDuration">Duration</label>
                <input class="form-control" id="smaModalDuration" name="smaModalDuration" type="text"
                       readonly="readonly"
                       placeholder="烟雾告警触发防误报时长，单位分钟(0 - 255)"
                       ng-model="vm.modalData.duration"/>
              </div>
              <div>
                <label for="smaModalInterval">Interval</label>
                <input class="form-control" id="smaModalInterval" name="smaModalInterval" type="text"
                       readonly="readonly"
                       placeholder="模式为2时，处于触发状态，告警报文上报间隔，单位为秒(0 - 255)"
                       ng-model="vm.modalData.interval"/>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- OUO Modal -->
    <div class="modal fade" id="OUOModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.configSend()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <div>
              <h4 class="modal-title">
                订单下发(Order Update Operation)
              </h4>
              <select class="select form-control" id="ouoModalConfig" name="ouoModalConfig"
                      ng-model="vm.modalSelectedConfig"
                      ng-options="option.name for option in vm.avaliableConfigs track by option._id"
                      ng-change="vm.modalConfigChange()">
              </select>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label>配置名称</label>
                <input class="form-control" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.name"/>
              </div>
              <div>
                <label>备注</label>
                <textarea class="form-control" rows="3"
                          readonly="readonly"
                          ng-model="vm.modalData.notes"></textarea>
              </div>
              <div>
                <label for="ouoModalOrderNum">Order Number</label>
                <input class="form-control" id="ouoModalOrderNum" name="ouoModalOrderNum" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.orderNum"/>
              </div>
              <div>
                <label for="ouoModalActType">Action Type</label>
                <select class="select form-control" id="ouoModalActType" name="ouoModalActType"
                        readonly="readonly"
                        disabled="disabled"
                        ng-model="vm.modalData.type">
                  <option value="0">预约</option>
                  <option value="1">取消预约</option>
                  <option value="2">添加运维订单</option>
                </select>
              </div>
              <div>
                <label for="ouoModalOrderID">Order ID</label>
                <input class="form-control" id="ouoModalOrderID" name="ouoModalOrderID" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.orderID"/>
              </div>
              <div>
                <label for="ouoModalOrderStart">Start Datetime</label>
                <input class="form-control" id="ouoModalOrderStart" name="ouoModalOrderStart" type="text"
                       readonly="readonly"
                       placeholder="Unix timestamp"
                       ng-model="vm.modalData.orderStart"/>
                <button type="button" class="btn btn-info" ng-click="vm.modalData.orderStart = vm.fillDatetime(0)">当前服务器时间
                </button>
              </div>
              <div>
                <label for="ouoModalOrderExpire">Expire Datetime</label>
                <input class="form-control" id="ouoModalOrderExpire" name="ouoModalOrderExpire" type="text"
                       readonly="readonly"
                       placeholder="Unix timestamp"
                       ng-model="vm.modalData.orderExpire"/>
                <button type="button" class="btn btn-info" ng-click="vm.modalData.orderExpire = vm.fillDatetime(3600)">
                  起始时间加1小时
                </button>
              </div>
              <div>
                <label for="ouoModalOrderPassword">Password</label>
                <input class="form-control" id="ouoModalOrderPassword" name="ouoModalOrderPassword" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.orderPassword"/>
              </div>
              <div>
                <label for="ouoModalOrderPersonNumber">Person Number</label>
                <input class="form-control" id="ouoModalOrderPersonNumber" name="ouoModalOrderPersonNumber" type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.orderPersonNumber"/>
              </div>
              <div>
                <label for="ouoModalOrderPasswordVaildCount">Password Valid Count</label>
                <input class="form-control" id="ouoModalOrderPasswordVaildCount" name="ouoModalOrderPasswordVaildCount"
                       type="text"
                       readonly="readonly"
                       ng-model="vm.modalData.orderPasswordValidConut"/>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              下发
            </button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->


  </div>
</section>
