body {
	/*padding-top: 5rem;*/
	padding-top: 75px;
}

a {
	text-decoration: none;
}

.modal-header .btn-group {
	float: right;
}

.tableMargin {
	flex: 0 0 100%;
	max-width: 100%;
}

.modal li {
	color: #636c72;
	list-style: none;
}

.modal li span {
	color: black;
	margin-left: 10px
}

@media (min-width: 576px) {
	.modal:before {
		content: " ";
		display: inline-block;
		height: 10%;
		vertical-align: middle;
	}

	.modal-dialog {
		max-width: 1000px;
		width: 800px;
	}

	.table th, .table td {
		font-size: 15px;
	}
}

@media (min-height: 40em) {
	.modal {
		position: fixed;
	}

	.modal-body {
		max-height: 35em; /* This should be less than the min-height in the media query. */
		overflow-y: auto;
	}
}

.signal-bars {
	display: inline-block;
	height: 16px;
	list-style: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.signal-bars .bar {
	display: inline-block;
	width: 4px;
	float: left;
	height: 100%;
	margin-right: 2px;
}

.signal-bars .bar.first-bar {
	padding-top: 12px;
}

.signal-bars .bar.second-bar {
	padding-top: 8px;
}

.signal-bars .bar.third-bar {
	padding-top: 4px;
}

.signal-bars .bar.fourth-bar {
	padding-top: 0px;
}

.signal-bars li div {
	height: 100%;
}

.bars-4 div {
	background-color: #16a085;
	border: thin solid darken(#16a085, 7%);
}

.bars-3 div {
	background-color: #f1c40f;
	border: thin solid darken(#f1c40f, 7%);
}

.bars-1 div,
.bars-2 div {
	background-color: #e74c3c;
	border: thin solid darken(#e74c3c, 20%);
}

.bars-3 .bar.fourth-bar div,
.bars-1 .bar:not(.first-bar) div,
.bars-2 .bar:not(.first-bar):not(.second-bar) div {
	background-color: #e0e0e0;
	border: thin solid #f3f3f3;
}
