<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>功能测试工具</h1>
  </div>

  <div class="bootstrap-iso">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group col-xs-12 col-sm-12 col-md-12">
            <label class="control-label requiredField" for="uniqueID">
              Unique ID
              <span class="asteriskField">*</span>
            </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-magnet"></i>
              </div>
              <input class="form-control" id="uniqueID" name="uniqueID" type="text" ng-model="vm.devUID"/>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="lightSwitch">照明:</label></h3>
            <div class="btn-group" id="lightSwitch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('light', 1)">打开</button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('light', 0)">关闭</button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="emeLightSwitch">应急照明:</label></h3>
            <div class="btn-group" id="emeLightSwitch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('emeLight', 1)">打开
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('emeLight', 0)">关闭
              </button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="airCon1Switch">空调1:</label></h3>
            <div class="btn-group" id="airCon1Switch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('airCon1', 1)">打开
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('airCon1', 0)">关闭
              </button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="airCon2Switch">空调2:</label></h3>
            <div class="btn-group" id="airCon2Switch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('airCon2', 1)">打开
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('airCon2', 0)">关闭
              </button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="groundPlug1Switch">地插1:</label></h3>
            <div class="btn-group" id="groundPlug1Switch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('groundPlug1', 1)">打开
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('groundPlug1', 0)">关闭
              </button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="groundPlug2Switch">地插2:</label></h3>
            <div class="btn-group" id="groundPlug2Switch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('groundPlug2', 1)">打开
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('groundPlug2', 0)">关闭
              </button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="exhaustSwitch">排风:</label></h3>
            <div class="btn-group" id="exhaustSwitch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('exhaust', 1)">打开
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('exhaust', 0)">关闭
              </button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="freshAirSwitch">新风:</label></h3>
            <div class="btn-group" id="freshAirSwitch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('freshAir', 1)">打开
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('freshAir', 0)">关闭
              </button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="indoorTvSwitch">电视机:</label></h3>
            <div class="btn-group" id="indoorTvSwitch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('indoorTv', 1)">打开
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('indoorTv', 0)">关闭
              </button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="vendingMachineSwitch">售货机:</label></h3>
            <div class="btn-group" id="vendingMachineSwitch">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('vendingMachine', 1)">
                打开
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOutCommand('vendingMachine', 0)">
                关闭
              </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h3><label class="label label-primary label-lg" for="soundTest">背景音:</label></h3>
            <div class="btn-group" id="soundTest">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoCommand('welcome')">
                欢迎
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoCommand('orderOver')">
                结束
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoCommand('smokeAlarm')">
                烟雾告警
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoCommand('bgm')">
                背景音乐
              </button>
            </div>
            <div class="btn-group" id="soundTest">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoCommand('badPeople')">
                不文明健身
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoCommand('takeUnpaid')">
                带人
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoCommand('forbiddenPeople')">
                儿童宠物
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoCommand('unpaid')">
                尾随
              </button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <h3><label class="label label-primary label-lg" for="soundModify">背景音量:</label></h3>
            <div class="btn-group" id="soundModify">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoVolumeCommand('2')">
                音量减
              </button>
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendMuoVolumeCommand('3')">
                音量加
              </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h3><label class="label label-primary label-lg" for="orderTest">订单测试:</label></h3>
            <select class="select form-control" id="orderTestType" name="orderTestType"
                    ng-model="vm.order.type">
              <option value="0">预约</option>
              <option value="1">取消预约</option>
            </select>
            <div class="input-group">
              <div class="input-group-addon">订单号</div>
              <input type="text" class="form-control" placeholder="数字订单号" ng-model="vm.order.orderID">
            </div>
            <label>开始时间</label><br/>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="年" ng-model="vm.order.startYear">
              <div class="input-group-addon">-</div>
              <input type="text" class="form-control" placeholder="月" ng-model="vm.order.startMonth">
              <div class="input-group-addon">-</div>
              <input type="text" class="form-control" placeholder="日" ng-model="vm.order.startDay">
              <div class="input-group-addon">&nbsp</div>
              <input type="text" class="form-control" placeholder="时" ng-model="vm.order.startHour">
              <div class="input-group-addon">：</div>
              <input type="text" class="form-control" placeholder="分" ng-model="vm.order.startMinute">
              <div class="input-group-addon">：</div>
              <input type="text" class="form-control" placeholder="秒" ng-model="vm.order.startSecond">
            </div>
            <label>结束时间</label><br/>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="年" ng-model="vm.order.expireYear">
              <div class="input-group-addon">-</div>
              <input type="text" class="form-control" placeholder="月" ng-model="vm.order.expireMonth">
              <div class="input-group-addon">-</div>
              <input type="text" class="form-control" placeholder="日" ng-model="vm.order.expireDay">
              <div class="input-group-addon">&nbsp</div>
              <input type="text" class="form-control" placeholder="时" ng-model="vm.order.expireHour">
              <div class="input-group-addon">：</div>
              <input type="text" class="form-control" placeholder="分" ng-model="vm.order.expireMinute">
              <div class="input-group-addon">：</div>
              <input type="text" class="form-control" placeholder="秒" ng-model="vm.order.expireSecond">
            </div>
            <div class="input-group">
              <div class="input-group-addon">密码</div>
              <input type="text" class="form-control" placeholder="数字密码" ng-model="vm.order.password">
            </div>
            <div class="btn-group" id="orderTest">
              <button type="button" class="btn btn-success btn-lg" ng-click="vm.sendOuoCommand()">
                下发
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
