<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>协议命令</h1>
  </div>

  <div class="container-fluid">
    <div class="row col-md-6 col-sm-6 col-xs-12">
      <div>
        <h4>服务器连接配置</h4>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#apcModal">入网配置</button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#serModal">服务器连接配置
        </button>
        <hr>
      </div>
      <div>
        <h4>设备配置</h4>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#cfgModal">全局配置</button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#tmaModal">时间调整</button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#dogModal">协议看门狗</button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#acoModal">空调控制</button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#secModal">安全配置</button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#omcModal">输出模式配置</button>
        <hr>
      </div>
      <div>
        <h4>告警设置</h4>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#doaModal">门禁告警</button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#smaModal">烟雾告警</button>
        <hr>
      </div>
      <div>
        <h4>其他命令</h4>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#ouoModal">订单下发</button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#outModal">终端OUTPUT控制
        </button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#muoModal">多媒体操作命令
        </button>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#rtoModal">实时操作命令</button>
        <hr>
      </div>
      <div>
        <h4>在线升级</h4>
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#fotaModal">空中下载升级命令
        </button>
        <hr>
      </div>
    </div>

    <!-- APC Modal -->
    <div class="modal fade" id="apcModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.apcSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              入网配置(Access Point Configuration) [0x01 0x01]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="apcModalAPN">APN</label>
                <input class="form-control" id="apcModalAPN" name="apcModalAPN" type="text"
                       required="required"
                       ng-model="vm.apcModal.apn"/>
              </div>
              <div>
                <label for="apcModalAPNUserName">APN User Name</label>
                <input class="form-control" id="apcModalAPNUserName" name="apcModalAPNUserName" type="text"
                       required="required"
                       ng-model="vm.apcModal.apnUserName"/>
              </div>
              <div>
                <label for="apcModalAPNPassword">APN Password</label>
                <input class="form-control" id="apcModalAPNPassword" name="apcModalAPNPassword" type="text"
                       required="required"
                       ng-model="vm.apcModal.apnPassword"/>
              </div>
              <div>
                <label for="apcModalMainDNS">Main DNS Server</label>
                <input class="form-control" id="apcModalMainDNS" name="apcModalMainDNS" type="text"
                       required="required"
                       ng-model="vm.apcModal.mainDNS"/>
              </div>
              <div>
                <label for="apcModalBackupDNS">Backup DNS Server</label>
                <input class="form-control" id="apcModalBackupDNS" name="apcModalBackupDNS" type="text"
                       required="required"
                       ng-model="vm.apcModal.backupDNS"/>
              </div>
              <div>
                <label for="apcModalUID">UID</label>
                <input class="form-control" id="apcModalUID" name="apcModalUID" type="text"
                       required="required"
                       ng-model="vm.apcModal.uid"/>
              </div>
              <div>
                <label for="apcModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="apcModalGenData" name="apcModalGenData"
                          ng-model="vm.apcModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.apcGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- SER Modal -->
    <div class="modal fade" id="serModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.serSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              服务器连接配置(Server Configuration) [0x01 0x02]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="serModalMode">Report Mode</label>
                <input class="form-control" id="serModalMode" name="serModalMode" type="text"
                       required="required"
                       ng-model="vm.serModal.mode"/>
              </div>
              <div>
                <label for="serModalMainServer">Main Server Domain Name</label>
                <input class="form-control" id="serModalMainServer" name="serModalMainServer" type="text"
                       required="required"
                       ng-model="vm.serModal.mainServer""/>
              </div>
              <div>
                <label for="serModalMainPort">Main Server Port</label>
                <input class="form-control" id="serModalMainPort" name="serModalMainPort" type="text"
                       required="required"
                       ng-model="vm.serModal.mainPort"/>
              </div>
              <div>
                <label for="serModalBackupServer">Backup Server Domain Name</label>
                <input class="form-control" id="serModalBackupServer" name="serModalBackupServer" type="text"
                       required="required"
                       ng-model="vm.serModal.backupServer"/>
              </div>
              <div>
                <label for="serModalBackupPort">Backup Server Port</label>
                <input class="form-control" id="serModalBackupPort" name="serModalBackupPort" type="text"
                       required="required"
                       ng-model="vm.serModal.backupPort"/>
              </div>
              <div>
                <label for="serModalSMSGateway">SMS Gateway</label>
                <input class="form-control" id="serModalSMSGateway" name="serModalSMSGateway" type="text"
                       required="required"
                       ng-model="vm.serModal.sms"/>
              </div>
              <div>
                <label for="serModalHbpInterval">Heartbeat Interval</label>
                <input class="form-control" id="serModalHbpInterval" name="serModalHbpInterval" type="text"
                       required="required"
                       ng-model="vm.serModal.hbpInterval"/>
              </div>
              <div>
                <label for="serModalMaxRandomTime">Max Random Time</label>
                <input class="form-control" id="serModalMaxRandomTime" name="serModalMaxRandomTime" type="text"
                       required="required"
                       ng-model="vm.serModal.maxRandomTime"/>
              </div>
              <div>
                <label for="serModalUID">UID</label>
                <input class="form-control" id="serModalUID" name="serModalUID" type="text"
                       required="required"
                       ng-model="vm.serModal.uid"/>
              </div>
              <div>
                <label for="serModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="serModalGenData" name="serModalGenData"
                          ng-model="vm.serModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.serGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- CFG Modal -->
    <div class="modal fade" id="cfgModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.cfgSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              全局配置(Configuration) [0x01 0x03]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="cfgModalEventMask">Event Mask</label>
                <input class="form-control" id="cfgModalEventMask" name="cfgModalEventMask" type="text"
                       placeholder="请输入HEX格式(0x0000 - 0xFFFF)"
                       required="required"
                       ng-model="vm.cfgModal.mask"/>
              </div>
              <div>
                <label for="cfgModalInfInterval">Info Report Interval</label>
                <input class="form-control" id="cfgModalInfInterval" name="cfgModalInfInterval" type="text"
                       required="required"
                       ng-model="vm.cfgModal.infInterval"/>
              </div>
              <div>
                <label for="cfgModalUID">UID</label>
                <input class="form-control" id="cfgModalUID" name="cfgModalUID" type="text"
                       required="required"
                       ng-model="vm.cfgModal.uid"/>
              </div>
              <div>
                <label for="cfgModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="cfgModalGenData" name="cfgModalGenData"
                          ng-model="vm.cfgModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.cfgGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- TMA Modal -->
    <div class="modal fade" id="tmaModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.tmaSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              时间调整(Time Adjust) [0x01 0x04]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="tmaModalAutoAdjust">Time Adjust</label>
                <br>
                <label for="tmaModalAutoAdjust">自动调整本地时间</label>
                <select class="select form-control" id="tmaModalAutoAdjust" name="tmaModalAutoAdjust"
                        ng-model="vm.tmaModal.autoAdjust">
                  <option value="0">关闭</option>
                  <option value="1">开启</option>
                </select>
              </div>
              <div>
                <label for="tmaModalUTC">UTC Time</label>
                <input class="form-control" id="tmaModalUTC" name="tmaModalUTC" type="text"
                       placeholder="Unix Timestamp"
                       required="required"
                       ng-model="vm.tmaModal.utc"/>
                <button type="button" class="btn btn-info" ng-click="vm.tmaModalFillDatetime()">当前服务器时间</button>
              </div>
              <div>
                <label for="tmaModalUID">UID</label>
                <input class="form-control" id="tmaModalUID" name="tmaModalUID" type="text"
                       required="required"
                       ng-model="vm.tmaModal.uid"/>
              </div>
              <div>
                <label for="tmaModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="tmaModalGenData" name="tmaModalGenData"
                          ng-model="vm.tmaModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.tmaGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- DOG Modal -->
    <div class="modal fade" id="dogModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.dogSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              协议看门狗(Watchdog) [0x01 0x05]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="dogModalModeSW">Mode</label>
                <br>
                <label for="dogModalModeSW">协议看门狗</label>
                <select class="select form-control" id="dogModalModeSW" name="dogModalModeSW"
                        ng-model="vm.dogModal.sw">
                  <option value="0">关闭</option>
                  <option value="1">开启</option>
                </select>
                <label for="dogModalModeReport">协议看门狗报文上报</label>
                <select class="select form-control" id="dogModalModeReport" name="dogModalModeReport"
                        ng-model="vm.dogModal.report">
                  <option value="0">关闭</option>
                  <option value="1">开启</option>
                </select>
                <label for="dogModalModeInterval">重启间隔</label>
                <input class="form-control" id="dogModalModeInterval" name="dogModalModeInterval" type="text"
                       placeholder="单位为天(1 - 31)"
                       required="required"
                       ng-model="vm.dogModal.interval"/>
              </div>
              <div>
                <label for="dogModalRebootTimeHour">Reboot Time</label>
                <br>
                <label for="dogModalRebootTimeHour">重启时刻小时</label>
                <input class="form-control" id="dogModalRebootTimeHour" name="dogModalRebootTimeHour" type="text"
                       placeholder="重启时刻小时(0 - 23)"
                       required="required"
                       ng-model="vm.dogModal.rebootHour"/>
                <label for="dogModalRebootTimeMinute">重启时刻分钟</label>
                <input class="form-control col-md-6" id="dogModalRebootTimeMinute" name="dogModalRebootTimeMinute"
                       type="text"
                       placeholder="重启时刻分钟(0 - 59)"
                       required="required"
                       ng-model="vm.dogModal.rebootMinute"/>
              </div>
              <div>
                <label for="dogModalMaxRandomTime">Max Random Time</label>
                <input class="form-control" id="dogModalMaxRandomTime" name="dogModalMaxRandomTime" type="text"
                       placeholder="单位为秒(0 - 65535)"
                       required="required"
                       ng-model="vm.dogModal.randomTime"/>
              </div>
              <div>
                <label for="dogModalUID">UID</label>
                <input class="form-control" id="dogModalUID" name="dogModalUID" type="text"
                       required="required"
                       ng-model="vm.dogModal.uid"/>
              </div>
              <div>
                <label for="dogModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="dogModalGenData" name="dogModalGenData"
                          ng-model="vm.dogModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.dogGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- ACO Modal -->
    <div class="modal fade" id="acoModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.acoSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              空调控制(Air Conditioner Operation) [0x01 0x06]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="acoModalPwrMode">Mode</label>
                <br>
                <label for="acoModalPwrMode">空调开关</label>
                <select class="select form-control" id="acoModalPwrMode" name="acoModalPwrMode"
                        ng-model="vm.acoModal.pwrMode">
                  <option value="0">空调常关</option>
                  <option value="1">空调常开</option>
                  <option value="2">空调间隔开</option>
                </select>
                <label for="acoModalWorkMode">模式</label>
                <select class="select form-control" id="acoModalWorkMode" name="acoModalWorkMode"
                        ng-model="vm.acoModal.workMode">
                  <option value="0">制冷</option>
                  <option value="1">制热</option>
                  <option value="2">自动</option>
                  <option value="3">抽湿</option>
                </select>
                <label for="acoModalWind">风力</label>
                <select class="select form-control" id="acoModalWind" name="acoModalWind"
                        ng-model="vm.acoModal.wind">
                  <option value="0">高</option>
                  <option value="1">中</option>
                  <option value="2">低</option>
                  <option value="3">自动</option>
                </select>
              </div>
              <div>
                <label for="acoModalInterval">Interval</label>
                <input class="form-control" id="acoModalInterval" name="acoModalInterval" type="text"
                       placeholder="间隔开启模式下，空调开启间隔，单位为分钟(0 - 255)"
                       required="required"
                       ng-model="vm.acoModal.interval"/>
              </div>
              <div>
                <label for="acoModalDuration">Duration</label>
                <input class="form-control" id="acoModalDuration" name="acoModalDuration" type="text"
                       placeholder="间隔开启模式下，空调开启时长，单位为分钟(0 - 255)"
                       required="required"
                       ng-model="vm.acoModal.duration"/>
              </div>
              <div>
                <label for="acoModalTemp">Temperature</label>
                <input class="form-control" id="acoModalTemp" name="acoModalTemp" type="text"
                       placeholder="摄氏度(0 - 255)"
                       required="required"
                       ng-model="vm.acoModal.temperature"/>
              </div>
              <div>
                <label for="acoModalUID">UID</label>
                <input class="form-control" id="acoModalUID" name="acoModalUID" type="text"
                       required="required"
                       ng-model="vm.acoModal.uid"/>
              </div>
              <div>
                <label for="acoModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="acoModalGenData" name="acoModalGenData"
                          ng-model="vm.acoModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.acoGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- SEC Modal -->
    <div class="modal fade" id="secModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.secSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              安全配置(Security Configuration) [0x01 0x07]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <h2>Not Implemented Now</h2>
              </div>
              <div>
                <label for="secModalUID">UID</label>
                <input class="form-control" id="secModalUID" name="secModalUID" type="text"
                       required="required"
                       ng-model="vm.secModal.uid"/>
              </div>
              <div>
                <label for="secModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="secModalGenData" name="secModalGenData"
                          ng-model="vm.secModal.genData"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.secGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- OMC Modal -->
    <div class="modal fade" id="omcModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.omcSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              输出模式配置(Output Mode Configuration) [0x01 0x08]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="omcModalIdleOutput">Idle Output</label>
                <input class="form-control" id="omcModalIdleOutput" name="omcModalIdleOutput" type="text"
                       required="required"
                       placeholder="无订单时输出状态，请输入HEX格式(0x00000000 - 0xFFFFFFFF)"
                       ng-model="vm.omcModal.idleOutput"/>
              </div>
              <div>
                <label for="omcModalInserviceOutput">In-service Output</label>
                <input class="form-control" id="omcModalInserviceOutput" name="omcModalInserviceOutput" type="text"
                       required="required"
                       placeholder="有订单时输出状态，请输入HEX格式(0x00000000 - 0xFFFFFFFF)"
                       ng-model="vm.omcModal.inserviceOutput"/>
              </div>
              <div>
                <label for="omcModalMode">Mode</label>
                <select class="select form-control" id="omcModalMode" name="omcModalMode"
                        ng-model="vm.omcModal.mode">
                  <option value="0">特定时段输出模式关</option>
                  <option value="1">特定时段输出模式开</option>
                  <option value="2">特定时段输出模式开，输出模式切换时上报报文</option>
                </select>
              </div>
              <div>
                <label for="omcModalValidTime">Valid Time</label>
                <br>
                <label for="omcModalValidTimeBeginHour">起始时刻小时</label>
                <input class="form-control" id="omcModalValidTimeBeginHour" name="omcModalValidTimeBeginHour"
                       type="text"
                       required="required"
                       placeholder="请输入起始时刻小时(0 - 23)"
                       ng-model="vm.omcModal.beginHour"/>
                <label for="omcModalValidTimeBeginMinute">起始时刻分钟</label>
                <input class="form-control" id="omcModalValidTimeBeginMinute" name="omcModalValidTimeBeginMinute"
                       type="text"
                       required="required"
                       placeholder="请输入起始时刻分钟(0 - 59)"
                       ng-model="vm.omcModal.beginMinute"/>
                <label for="omcModalValidTimeEndHour">结束时刻小时</label>
                <input class="form-control" id="omcModalValidTimeEndHour" name="omcModalValidTimeEndHour" type="text"
                       required="required"
                       placeholder="请输入结束时刻小时(0 - 23)"
                       ng-model="vm.omcModal.endHour"/>
                <label for="omcModalValidTimeEndMinute">结束时刻分钟</label>
                <input class="form-control" id="omcModalValidTimeEndMinute" name="omcModalValidTimeEndMinute"
                       type="text"
                       required="required"
                       placeholder="请输入结束时刻分钟(0 - 59)"
                       ng-model="vm.omcModal.endMinute"/>
              </div>
              <div>
                <label for="omcModalValidTimeIdleOutput">Valid Time Idle Output</label>
                <input class="form-control" id="omcModalValidTimeIdleOutput" name="omcModalValidTimeIdleOutput"
                       type="text"
                       required="required"
                       placeholder="特定时段无订单时输出状态，请输入HEX格式(0x00000000 - 0xFFFFFFFF)"
                       ng-model="vm.omcModal.validIdleOutput"/>
              </div>
              <div>
                <label for="omcModalValidTimeInserviceOutput">Valid Time Idle Output</label>
                <input class="form-control" id="omcModalValidTimeInserviceOutput"
                       name="omcModalValidTimeInserviceOutput" type="text"
                       required="required"
                       placeholder="特定时段有订单时输出状态，请输入HEX格式(0x00000000 - 0xFFFFFFFF)"
                       ng-model="vm.omcModal.validInserviceOutput"/>
              </div>
              <div>
                <label for="omcModalUID">UID</label>
                <input class="form-control" id="omcModalUID" name="omcModalUID" type="text"
                       required="required"
                       ng-model="vm.omcModal.uid"/>
              </div>
              <div>
                <label for="omcModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="omcModalGenData" name="omcModalGenData"
                          ng-model="vm.omcModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.omcGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- DOA Modal -->
    <div class="modal fade" id="doaModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.doaSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              门禁告警(Door Alarm) [0x01 0x31]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="doaModalMode">Mode</label>
                <input class="form-control" id="doaModalMode" name="doaModalMode" type="text"
                       required="required"
                       placeholder="(0 - 2)"
                       ng-model="vm.doaModal.mode"/>
              </div>
              <div>
                <label for="doaModalTriggerType">Trigger Type</label>
                <input class="form-control" id="doaModalTriggerType" name="doaModalTriggerType" type="text"
                       required="required"
                       placeholder="门禁告警触发类型，(0 - 255)"
                       ng-model="vm.doaModal.type"/>
              </div>
              <div>
                <label for="doaModalDuration">Duration</label>
                <input class="form-control" id="doaModalDuration" name="doaModalDuration" type="text"
                       required="required"
                       placeholder="门禁告警触发防误报时长，单位分钟(0 - 255)"
                       ng-model="vm.doaModal.duration"/>
              </div>
              <div>
                <label for="doaModalInterval">Interval</label>
                <input class="form-control" id="doaModalInterval" name="doaModalInterval" type="text"
                       required="required"
                       placeholder="模式为2时，处于触发状态，告警报文上报间隔，单位为秒(0 - 255)"
                       ng-model="vm.doaModal.interval"/>
              </div>
              <div>
                <label for="doaModalUID">UID</label>
                <input class="form-control" id="doaModalUID" name="doaModalUID" type="text"
                       required="required"
                       ng-model="vm.doaModal.uid"/>
              </div>
              <div>
                <label for="doaModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="doaModalGenData" name="doaModalGenData"
                          ng-model="vm.doaModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.doaGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- SMA Modal -->
    <div class="modal fade" id="smaModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.smaSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              烟雾告警(Smoke Alarm) [0x01 0x32]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="smaModalMode">Mode</label>
                <input class="form-control" id="smaModalMode" name="smaModalMode" type="text"
                       required="required"
                       placeholder="(0 - 2)"
                       ng-model="vm.smaModal.mode"/>
              </div>
              <div>
                <label for="smaModalThreshold">Threshold</label>
                <input class="form-control" id="smaModalThreshold" name="smaModalThreshold" type="text"
                       required="required"
                       placeholder="烟雾告警触发阈值，(0 - 255)"
                       ng-model="vm.smaModal.threshold"/>
              </div>
              <div>
                <label for="smaModalDuration">Duration</label>
                <input class="form-control" id="smaModalDuration" name="smaModalDuration" type="text"
                       required="required"
                       placeholder="烟雾告警触发防误报时长，单位分钟(0 - 255)"
                       ng-model="vm.smaModal.duration"/>
              </div>
              <div>
                <label for="smaModalInterval">Interval</label>
                <input class="form-control" id="smaModalInterval" name="smaModalInterval" type="text"
                       required="required"
                       placeholder="模式为2时，处于触发状态，告警报文上报间隔，单位为秒(0 - 255)"
                       ng-model="vm.smaModal.interval"/>
              </div>
              <div>
                <label for="smaModalUID">UID</label>
                <input class="form-control" id="smaModalUID" name="smaModalUID" type="text"
                       required="required"
                       ng-model="vm.smaModal.uid"/>
              </div>
              <div>
                <label for="smaModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="smaModalGenData" name="smaModalGenData"
                          ng-model="vm.smaModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.smaGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- OUO Modal -->
    <div class="modal fade" id="ouoModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.ouoSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              订单下发(Order Update Operation) [0x01 0x81]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="ouoModalOrderNum">Order Number</label>
                <input class="form-control" id="ouoModalOrderNum" name="ouoModalOrderNum" type="text"
                       required="required" readonly
                       ng-model="vm.ouoModal.orderNum"/>
              </div>
              <div>
                <label for="ouoModalActType">Action Type</label>
                <select class="select form-control" id="ouoModalActType" name="ouoModalActType"
                        ng-model="vm.ouoModal.type">
                  <option value="0">预约</option>
                  <option value="1">取消预约</option>
                  <option value="2">添加运维订单</option>
                </select>
              </div>
              <div>
                <label for="ouoModalOrderID">Order ID</label>
                <input class="form-control" id="ouoModalOrderID" name="ouoModalOrderID" type="text"
                       required="required"
                       ng-model="vm.ouoModal.orderID"/>
              </div>
              <div>
                <label for="ouoModalOrderStart">Start Datetime</label>
                <input class="form-control" id="ouoModalOrderStart" name="ouoModalOrderStart" type="text"
                       required="required"
                       placeholder="Unix timestamp"
                       ng-model="vm.ouoModal.orderStart"/>
                <button type="button" class="btn btn-info" ng-click="vm.ouoModalFillStartDatetime()">当前服务器时间</button>
              </div>
              <div>
                <label for="ouoModalOrderExpire">Expire Datetime</label>
                <input class="form-control" id="ouoModalOrderExpire" name="ouoModalOrderExpire" type="text"
                       required="required"
                       placeholder="Unix timestamp"
                       ng-model="vm.ouoModal.orderExpire"/>
                <button type="button" class="btn btn-info" ng-click="vm.ouoModalFillExpireDatetime()">起始时间加1小时</button>
              </div>
              <div>
                <label for="ouoModalOrderPassword">Password</label>
                <input class="form-control" id="ouoModalOrderPassword" name="ouoModalOrderPassword" type="text"
                       required="required"
                       ng-model="vm.ouoModal.orderPassword"/>
              </div>
              <div>
                <label for="ouoModalOrderPersonNumber">Person Number</label>
                <input class="form-control" id="ouoModalOrderPersonNumber" name="ouoModalOrderPersonNumber" type="text"
                       required="required"
                       ng-model="vm.ouoModal.orderPersonNumber"/>
              </div>
              <div>
                <label for="ouoModalOrderPasswordVaildCount">Password Valid Count</label>
                <input class="form-control" id="ouoModalOrderPasswordVaildCount" name="ouoModalOrderPasswordVaildCount" type="text"
                       required="required"
                       ng-model="vm.ouoModal.orderPasswordValidConut"/>
              </div>
              <div>
                <label for="ouoModalUID">UID</label>
                <input class="form-control" id="ouoModalUID" name="ouoModalUID" type="text"
                       required="required"
                       ng-model="vm.ouoModal.uid"/>
              </div>
              <div>
                <label for="ouoModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="ouoModalGenData" name="ouoModalGenData"
                          ng-model="vm.ouoModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.ouoGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- RTO Modal -->
    <div class="modal fade" id="rtoModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.rtoSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              实时操作命令(Real Time Operation) [0x01 0x84]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="rtoModalCommand">Command</label>
                <input class="form-control" id="rtoModalCommand" name="rtoModalCommand" type="text"
                       required="required"
                       ng-model="vm.rtoModal.cmd"/>
              </div>
              <div>
                <label for="rtoModalSubCommand">Sub Command</label>
                <input class="form-control" id="rtoModalSubCommand" name="rtoModalSubCommand" type="text"
                       required="required"
                       ng-model="vm.rtoModal.subCmd"/>
              </div>
              <div>
                <label for="rtoModalUID">UID</label>
                <input class="form-control" id="rtoModalUID" name="rtoModalUID" type="text"
                       required="required"
                       ng-model="vm.rtoModal.uid"/>
              </div>
              <div>
                <label for="rtoModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="rtoModalGenData" name="rtoModalGenData"
                          ng-model="vm.rtoModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.rtoGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- FOTA Modal -->
    <div class="modal fade" id="fotaModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.fotaSendCmd()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              空中下载升级命令(Firmware Over The Air) [0x01 0xF1]
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="fotaModalRetryTimes">Retry Times</label>
                <input class="form-control" id="fotaModalRetryTimes" name="fotaModalRetryTimes" type="text"
                       required="required"
                       ng-model="vm.fotaModal.retry"/>
              </div>
              <div>
                <label for="fotaModalTimeout">Download Timeout</label>
                <input class="form-control" id="fotaModalTimeout" name="fotaModalTimeout" type="text"
                       required="required"
                       ng-model="vm.fotaModal.timeout"/>
              </div>
              <div>
                <label for="fotaModalProtocol">Download Protocol</label>
                <input class="form-control" id="fotaModalProtocol" name="fotaModalProtocol" type="text"
                       required="required"
                       ng-model="vm.fotaModal.protocol"/>
              </div>
              <div>
                <label for="fotaModalURLLen">Server URL Length</label>
                <input class="form-control" id="fotaModalURLLen" name="fotaModalURLLen" type="text"
                       required="required" readonly
                       ng-model="vm.fotaModal.urlLen"/>
              </div>
              <div>
                <label for="fotaModalURL">Server URL</label>
                <input class="form-control" id="fotaModalURL" name="fotaModalURL" type="text"
                       required="required"
                       ng-model="vm.fotaModal.url"
                       ng-change="vm.fotaModalURLChange()"/>
              </div>
              <div>
                <label for="fotaModalPort">Server Port</label>
                <input class="form-control" id="fotaModalPort" name="fotaModalPort" type="text"
                       required="required"
                       ng-model="vm.fotaModal.port"/>
              </div>
              <div>
                <label for="fotaModalUserNameLen">Server User Name Length</label>
                <input class="form-control" id="fotaModalUserNameLen" name="fotaModalUserNameLen" type="text"
                       required="required" readonly
                       ng-model="vm.fotaModal.userNameLen"/>
              </div>
              <div>
                <label for="fotaModalUserName">Server User Name</label>
                <input class="form-control" id="fotaModalUserName" name="fotaModalUserName" type="text"
                       required="required"
                       ng-model="vm.fotaModal.userName"
                       ng-change="vm.fotaModalUserNameChange()"/>
              </div>
              <div>
                <label for="fotaModalUserPasswdLen">Server User Password Length</label>
                <input class="form-control" id="fotaModalUserPasswdLen" name="fotaModalUserPasswdLen" type="text"
                       required="required" readonly
                       ng-model="vm.fotaModal.userPasswdLen"/>
              </div>
              <div>
                <label for="fotaModalUserPasswd">Server User Password</label>
                <input class="form-control" id="fotaModalUserPasswd" name="fotaModalUserPasswd" type="text"
                       required="required"
                       ng-model="vm.fotaModal.userPasswd"
                       ng-change="vm.fotaModalUserPasswdChange()"/>
              </div>
              <div>
                <label for="fotaModalMD5">MD5</label>
                <input class="form-control" id="fotaModalMD5" name="fotaModalMD5" type="text"
                       required="required"
                       ng-model="vm.fotaModal.md5"/>
              </div>
              <div>
                <label for="fotaModalKey">Key</label>
                <input class="form-control" id="fotaModalKey" name="fotaModalKey" type="text"
                       required="required"
                       ng-model="vm.fotaModal.key"/>
              </div>
              <div>
                <label for="fotaModalDwnAddr">Download Address</label>
                <input class="form-control" id="fotaModalDwnAddr" name="fotaModalDwnAddr" type="text"
                       required="required"
                       ng-model="vm.fotaModal.dwnAddr"/>
              </div>
              <div>
                <label for="fotaModalAppAddr">App Bootup Address</label>
                <input class="form-control" id="fotaModalAppAddr" name="fotaModalAppAddr" type="text"
                       required="required"
                       ng-model="vm.fotaModal.appAddr"/>
              </div>
              <div>
                <label for="fotaModalUID">UID</label>
                <input class="form-control" id="fotaModalUID" name="fotaModalUID" type="text" required="required"
                       ng-model="vm.fotaModal.uid"/>
              </div>
              <div>
                <label for="fotaModalGenData">Generated data</label>
                <textarea class="form-control" rows="3" id="fotaModalGenData" name="fotaModalGenData"
                          ng-model="vm.fotaModal.genData"></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="vm.fotaGenData()">
              生成
            </button>
            <button type="button submit" class="btn btn-primary">
              发送
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

  </div>

</section>
