<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>空调任务</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">查询条件</div>
          <div class="panel-body">
            <form id="formSearch" class="form-horizontal" ng-submit="vm.searchAirconAction()">
              <div class="form-group" style="margin-top:15px">
                <label class="control-label col-sm-1" for="searchProvince">省份</label>
                <div class="col-sm-3">
                  <select class="select form-control" id="searchProvince"
                          ng-model="vm.txtSearchProvince"
                          ng-change="vm.searchProvinceChange()">
                    <option value="">全部省份</option>
                    <option ng-repeat="item in vm.availableProvince" value="{{item.provinceId}}">{{item.provinceName}}</option>
                  </select>
                </div>
                <label class="control-label col-sm-1" for="searchCity">城市</label>
                <div class="col-sm-3">
                  <select class="select form-control" id="searchCity"
                          ng-model="vm.txtSearchCity">
                    <option value="">全部城市</option>
                    <option ng-repeat="item in vm.availableSearchCity" value="{{item.cityId}}">{{item.cityName}}</option>
                  </select>
                </div>
                <label class="control-label col-sm-1" for="searchType">类型</label>
                <div class="col-sm-3">
                  <select class="select form-control" id="searchType"
                          ng-model="vm.txtSearchVenueType">
                    <option value="">全部健身舱</option>
                    <option ng-repeat="item in vm.availableBoxTypes" value="{{item.typeId}}">{{item.typeName}}</option>
                  </select>
                </div>
                <label class="control-label col-sm-1" for="searchBoxName">盒子</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="searchBoxName" ng-model="vm.txtSearchVenueName">
                </div>
                <label class="control-label col-sm-1" for="searchName">任务</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="searchName" ng-model="vm.txtSearchActionName">
                </div>
                <div class="searchSubmit col-sm-4 pull-right">
                  <button type="submit" class="btn btn-primary pull-right">查询</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="toolbar" class="btn-group">
          <button id="btnAddAction" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
          </button>
          <button id="btnDelAction" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
          </button>
        </div>
        <div class="tableMargin">
          <table class="table table-hover table-striped" id="airconActionsTable"></table>
          <ul class="pagination"></ul>
        </div>
      </div>
    </div>

    <!-- Action Modal -->
    <div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.actionUpdate()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="actionModalTitle">
              新增任务
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="actionModalName">名称</label>
                <input class="form-control" id="actionModalName" name="actionModalName" type="text"
                       required="required"
                       ng-model="vm.modal.actionName"/>
              </div>
              <div>
                <label for="actionModalProvince">省份</label>
                <select class="select form-control" id="actionModalProvince" name="actionModalProvince"
                        ng-model="vm.modal.provinceId"
                        ng-change="vm.modalProvinceChange()">
                  <option value="">全部</option>
                  <option ng-repeat="item in vm.availableProvince" value="{{item.provinceId}}">{{item.provinceName}}</option>
                </select>
              </div>
              <div>
                <label for="actionModalCity">城市</label>
                <select class="select form-control" id="actionModalCity" name="actionModalCity"
                        ng-model="vm.modal.cityId">
                  <option value="">全部城市</option>
                  <option ng-repeat="item in vm.availableModalCity" value="{{item.cityId}}">{{item.cityName}}</option>
                </select>
              </div>
              <div>
                <label for="actionModalVenueType">盒子类型</label>
                <select class="select form-control" id="actionModalVenueType" name="actionModalVenueType"
                        ng-model="vm.modal.venueType">
                  <option value="">全部类型</option>
                  <option ng-repeat="item in vm.availableBoxTypes" value="{{item.typeId}}">{{item.typeName}}</option>
                </select>
              </div>
              <div>
                <label>执行盒子</label>
                <div>
                  <input type="radio" ng-model="vm.modal.actionVenueCondition" value="all">所有
                  <input type="radio" ng-model="vm.modal.actionVenueCondition" value="selected">指定
                </div>
                <div ng-switch="vm.modal.actionVenueCondition">
                  <div ng-switch-when="selected">
                    <select class="select form-control" id="actionModalSelectBox"
                            name="actionModalSelectBox"
                            ng-model="vm.modalSelectedBox">
                      <option value="">---请选择---</option>
                      <option ng-repeat="item in vm.availableBoxes" value="{{item.venueId}}">{{item.venueName}}</option>
                    </select>
                    <div>
                      <button type="button" class="btn btn-info btn-sm" id="actionModalAddBtn" ng-click="vm.modalAddVenue()">
                        <span class="glyphicon glyphicon-plus"></span> 添加指定场馆
                      </button>
                      <label>&nbsp&nbsp&nbsp已选择{{ vm.modalSelectedBoxes.length }}个盒子</label>
                    </div>
                    <label ng-repeat="item in vm.modalSelectedBoxes track by $index">
                      <b>
                        <span class="glyphicon glyphicon-remove" ng-click="vm.modalDelVenue($index)"></span>
                        {{ item.name }}
                        &nbsp&nbsp&nbsp
                      </b>
                    </label>
                  </div>
                </div>
              </div>
              <div>
                <label for="actionModalActionDate">执行日期</label>
                <div>
                  <input type="radio" ng-model="vm.modal.actionDateCondition" value="everyDay">每天
                  <input type="radio" ng-model="vm.modal.actionDateCondition" value="setDay">指定日期
                </div>
                <div ng-switch="vm.modal.actionDateCondition">
                  <div ng-switch-when="setDay">
                    <div class="form-inline" id="actionModalActionDate">
                      <select class="select form-control" id="actionModalActionYear"
                              name="actionModalActionYear"
                              ng-model="vm.modal.actionYear"
                              ng-options="idx for idx in vm.modalYears">
                      </select>
                      -
                      <select class="select form-control" id="actionModalActionMonth"
                              name="actionModalActionMonth"
                              ng-model="vm.modal.actionMonth"
                              ng-options="idx for idx in vm.modalMonths">
                      </select>
                      -
                      <select class="select form-control" id="actionModalActionDay"
                              name="actionModalActionDay"
                              ng-model="vm.modal.actionDay"
                              ng-options="idx for idx in vm.modalDays">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <label for="actionModalActionTime">执行时刻</label>
                <div class="form-inline" id="actionModalActionTime">
                  <select class="select form-control" id="actionModalActionHour"
                          name="actionModalActionHour"
                          ng-model="vm.modal.actionHour"
                          ng-options="idx for idx in vm.modalHours">
                  </select>
                  -
                  <select class="select form-control" id="actionModalActionMinute"
                          name="actionModalActionMinute"
                          ng-model="vm.modal.actionMinute"
                          ng-options="idx for idx in vm.modalMinutes">
                  </select>
                  -
                  <select class="select form-control" id="actionModalActionSecond"
                          name="actionModalActionSecond"
                          ng-model="vm.modal.actionSecond"
                          ng-options="idx for idx in vm.modalMinutes">
                  </select>
                </div>
              </div>
              <div>
                <div>
                  <label for="actionModalPowerMode">空调开关</label>
                  <select class="select form-control" id="actionModalPowerMode" name="actionModalPowerMode"
                          ng-model="vm.modal.powerMode">
                    <option value="0">空调常关</option>
                    <option value="1">空调常开</option>
                  </select>
                </div>
                <div>
                  <label for="actionModalWorkMode">模式</label>
                  <select class="select form-control" id="actionModalWorkMode" name="actionModalWorkMode"
                          ng-model="vm.modal.workMode">
                    <option value="0">制冷</option>
                    <option value="1">制热</option>
                    <option value="2">送风</option>
                    <option value="3">抽湿</option>
                  </select>
                </div>
                <div>
                  <label for="actionModalWindPower">风力</label>
                  <select class="select form-control" id="actionModalWindPower" name="actionModalWindPower"
                          ng-model="vm.modal.windPower">
                    <option value="0">高</option>
                    <option value="1">中</option>
                    <option value="2">低</option>
                    <option value="3">自动</option>
                  </select>
                </div>
                <div>
                  <label for="actionModalTemperature">温度</label>
                  <select class="select form-control" id="actionModalTemperature" name="actionModalTemperature"
                          ng-model="vm.modal.temperature">
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                  </select>
                </div>
              </div>
              <div>
                <label for="actionModalIsValid" style="color:red">任务开关</label>
                <select class="select form-control" id="actionModalIsValid" name="actionModalIsValid"
                        ng-model="vm.modal.isValid">
                  <option value="0">关</option>
                  <option value="1">开</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              保存
            </button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- Clean Info Modal -->
    <div class="modal fade" id="cleanrBindModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.cleanBindUpdate()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="cleanrBindModalTitle">
              盒子名称(城市)
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="cleanrBindModalCleaner">盒子</label>
                <select class="select form-control" id="cleanrBindModalCleaner"
                        name="cleanrBindModalCleaner"
                        ng-model="vm.modal.cleanupBox">
                  <option value="">---请选择---</option>
                  <option ng-repeat="item in vm.availableBoxes" value="{{item.venueId}}">{{item.venueName}}</option>
                </select>
              </div>
              <div>
                <label>出勤日</label>
                <div>
                  <input type="checkbox" id="cleanrBindModalWorkEveryday" name="cleanrBindModalWorkEveryday"
                         ng-model="vm.workDay[7]"
                         ng-checked="vm.workDay[7]"
                         ng-click="vm.workDayUpdateSelection('everyday')">每天
                </div>
                <div class="form-inline">
                  <input type="checkbox" id="cleanrBindModalWorkMon" name="cleanrBindModalWorkMon"
                         ng-model="vm.workDay[0]"
                         ng-checked="vm.workDay[0]"
                         ng-click="vm.workDayUpdateSelection('mon')">周一
                  <input type="checkbox" id="cleanrBindModalWorkTue" name="cleanrBindModalWorkTue"
                         ng-model="vm.workDay[1]"
                         ng-checked="vm.workDay[1]"
                         ng-click="vm.workDayUpdateSelection('tue')">周二
                  <input type="checkbox" id="cleanrBindModalWorkWed" name="cleanrBindModalWorkWed"
                         ng-model="vm.workDay[2]"
                         ng-checked="vm.workDay[2]"
                         ng-click="vm.workDayUpdateSelection('wed')">周三
                  <input type="checkbox" id="cleanrBindModalWorkThu" name="cleanrBindModalWorkThu"
                         ng-model="vm.workDay[3]"
                         ng-checked="vm.workDay[3]"
                         ng-click="vm.workDayUpdateSelection('thu')">周四
                  <input type="checkbox" id="cleanrBindModalWorkFri" name="cleanrBindModalWorkFri"
                         ng-model="vm.workDay[4]"
                         ng-checked="vm.workDay[4]"
                         ng-click="vm.workDayUpdateSelection('fri')">周五
                  <input type="checkbox" id="cleanrBindModalWorkSat" name="cleanrBindModalWorkSat"
                         ng-model="vm.workDay[5]"
                         ng-checked="vm.workDay[5]"
                         ng-click="vm.workDayUpdateSelection('sat')">周六
                  <input type="checkbox" id="cleanrBindModalWorkSun" name="cleanrBindModalWorkSun"
                         ng-model="vm.workDay[6]"
                         ng-checked="vm.workDay[6]"
                         ng-click="vm.workDayUpdateSelection('sun')">周日
                </div>
              </div>
              <div>
                <div>
                  <label>保洁时段</label>
                </div>
                <label for="cleanrBindModalStartTime">开始时间</label>
                <div class="form-inline" id="cleanrBindModalStartTime">
                  <select class="select form-control" id="cleanerBindModalStartTimeHour"
                          name="cleanerBindModalStartTimeHour"
                          ng-model="vm.modal.startHour"
                          ng-options="idx for idx in vm.modalHours">
                  </select>
                  :
                  <select class="select form-control" id="cleanrBindModalStartTimeMinute"
                          name="cleanrBindModalStartTimeMinute"
                          ng-model="vm.modal.startMinute"
                          ng-options="idx for idx in vm.modalMinutes">
                  </select>
                </div>
                <label for="cleanrBindModalStopTime">结束时间</label>
                <div class="form-inline" id="cleanrBindModalStopTime">
                  <select class="select form-control" id="cleanrBindModalStopTimeHour"
                          name="cleanrBindModalStopTimeHour"
                          ng-model="vm.modal.stopHour"
                          ng-options="idx for idx in vm.modalHours">
                  </select>
                  :
                  <select class="select form-control" id="cleanrBindModalStopTimeMinute"
                          name="cleanrBindModalStopTimeMinute"
                          ng-model="vm.modal.stopMinute"
                          ng-options="idx for idx in vm.modalMinutes">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              保存
            </button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

  </div>
</section>
