<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>版本管理</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">查询条件</div>
          <div class="panel-body">
            <form id="formSearch" class="form-horizontal" ng-submit="vm.searchVersion()">
              <div class="form-group" style="margin-top:15px">
                <label class="control-label col-sm-1" for="searchDeviceType">硬件类型</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="searchDeviceType" ng-model="vm.txtSearchDevType">
                </div>
                <label class="control-label col-sm-1" for="searchVersion">版本号</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="searchVersion" ng-model="vm.txtSearchVersion">
                </div>
                <div class="col-sm-4" style="text-align:left;">
                  <button type="submit" style="margin-left:50px" class="btn btn-primary">查询</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="toolbar" class="btn-group">
          <button id="btnAddVersion" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
          </button>
          <button id="btnDelVersion" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
          </button>
        </div>
        <div class="tableMargin">
          <table class="table table-hover table-striped" id="versionsTable"></table>
          <ul class="pagination"></ul>
        </div>
      </div>
    </div>

    <!-- Version Detail Modal -->
    <div class="modal fade" id="versionUpdateDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <form class="modal-content" ng-submit="vm.versionUpdate()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="fotaModalTitle">
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <label for="fotaBinName">版本名称</label>
                <input class="form-control" id="fotaBinName" name="fotaBinName" type="text"
                       required="required"
                       ng-model="vm.version.name"/>
                <!-- button class="btn btn-primary btn-file" ngf-select="" ng-model="vm.fotaBin" accept="*">上传固件</button-->
              </div>
              <div>
                <label for="fotaBinURL">固件URL</label>
                <input class="form-control" id="fotaBinURL" name="fotaBinURL" type="text"
                       required="required"
                       ng-model="vm.version.url"/>
                <!-- button class="btn btn-primary btn-file" ngf-select="" ng-model="vm.fotaBin" accept="*">上传固件</button-->
              </div>
              <div>
                <label for="fotaBinMD5">MD5</label>
                <input class="form-control" id="fotaBinMD5" name="fotaBinMD5" type="text"
                       required="required"
                       ng-model="vm.version.md5"/>
              </div>
              <div>
                <label for="fotaBinDevType">硬件类型</label>
                <select class="select form-control" id="fotaBinDevType" name="fotaBinDevType"
                        required="required"
                        ng-model="vm.version.devType">
                  <option value="STM32F103">STM32F103</option>
                  <option value="STM32F427">STM32F427</option>
                </select>
              </div>
              <div>
                <label for="fotaBinVerNo">固件版本号</label>
                <input class="form-control" id="fotaBinVerNo" name="fotaBinVerNo" type="text"
                       required="required"
                       ng-model="vm.version.verNo"/>
              </div>
              <div>
                <label for="fotaRetryTimes">升级重试次数</label>
                <input class="form-control" id="fotaRetryTimes" name="fotaRetryTimes" type="text"
                       required="required"
                       ng-model="vm.version.retry"/>
              </div>
              <div>
                <label for="fotaTimeout">升级超时</label>
                <input class="form-control" id="fotaTimeout" name="fotaTimeout" type="text"
                       placeholder="单次升级超时，单位为分钟"
                       required="required"
                       ng-model="vm.version.timeout"/>
              </div>
              <div>
                <label for="fotaProtocol">升级协议</label>
                <select class="select form-control" id="fotaProtocol" name="fotaProtocol"
                        required="required"
                        ng-model="vm.version.protocol">
                  <option value="0">FTP</option>
                </select>
              </div>
              <div>
                <label for="fotaPort">服务器端口号</label>
                <input class="form-control" id="fotaPort" name="fotaPort" type="text"
                       required="required"
                       ng-model="vm.version.port"/>
              </div>
              <div>
                <label for="fotaUserName">服务器用户名</label>
                <input class="form-control" id="fotaUserName" name="fotaUserName" type="text"
                       required="required"
                       ng-model="vm.version.userName"/>
              </div>
              <div>
                <label for="fotaPassword">服务器密码</label>
                <input class="form-control" id="fotaPassword" name="fotaPassword" type="text"
                       required="required"
                       ng-model="vm.version.password"/>
              </div>
              <div>
                <label for="fotaKEY">KEY</label>
                <input class="form-control" id="fotaKEY" name="fotaKEY" type="text"
                       required="required"
                       ng-model="vm.version.key"/>
              </div>
              <div>
                <label for="fotaDwnAddr">下载地址</label>
                <input class="form-control" id="fotaDwnAddr" name="fotaDwnAddr" type="text"
                       required="required"
                       ng-model="vm.version.dwnAddr"/>
              </div>
              <div>
                <label for="fotaBootAddr">启动地址</label>
                <input class="form-control" id="fotaBootAddr" name="fotaBootAddr" type="text"
                       required="required"
                       ng-model="vm.version.bootAddr"/>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              保存
            </button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
              取消
            </button>
          </div>
        </form><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
  </div>
</section>
