<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>场馆监控</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="input-group">
        <input class="form-control" type="text" name="searchData" id="searchData" placeholder="请输入盒子名称"
               ng-model="vm.searchData"/>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="vm.searchByName()">搜索</button>
        </span>
      </div><!-- /input-group -->

      <div class="tableMargin">
        <table class="table table-hover table-striped" id="boxTable"></table>
        <ul class="pagination"></ul>
      </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="boxDetailDialog" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-success" aria-hidden="true" ng-click="vm.updateBoxDetail()">
                刷新
              </button>
              <button type="button" class="btn btn-danger" aria-hidden="true" data-dismiss="modal">
                关闭
              </button>
            </div>
            <h4 class="modal-title">{{vm.selectedBox.base.name}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <ul class="col-lg-12 col-xs-12">
                <li>UID: <span ng-bind="vm.selectedBox.base.uniqueId"></span>
                </li>
                <li>venueId: <span ng-bind="vm.selectedBox.base.venueId"></span></li>
                <li>场馆: <span ng-bind="vm.selectedBox.base.name"></span></li>
              </ul>
              <ul class="col-lg-6 col-xs-12">
                <li>硬件型号: <span ng-bind="vm.selectedBox.base.deviceType"></span></li>
                <li>bootloader版本: <span ng-bind="vm.selectedBox.base.bootloaderVerison"></span></li>
                <li>硬件版本: <span ng-bind="vm.selectedBox.base.hardwareVersion"></span></li>
                <li>固件版本: <span ng-bind="vm.selectedBox.base.softwareVersion"></span></li>
                <li>最近FOTA开始升级: <span ng-bind="vm.selectedBox.base.softwareUpdateStart | unixTime"></span></li>
                <li>最近FOTA结束升级: <span ng-bind="vm.selectedBox.base.softwareUpdateEnd | unixTime"></span></li>
                <hr>
              </ul>
              <ul class="col-lg-6 col-xs-12">
                <li>经度: <span ng-bind="vm.selectedBox.base.latitude"></span></li>
                <li>纬度: <span ng-bind="vm.selectedBox.base.longitude"></span></li>
                <li>经纬度更新: <span ng-bind="vm.selectedBox.base.locationUpdateDate | unixTime"></span></li>
                <li>IMEI: <span ng-bind="vm.selectedBox.base.imei"></span></li>
                <li>SIM卡号: <span ng-bind="vm.selectedBox.base.iccid"></span></li>
                <li>运营商: <span ng-bind="vm.selectedBox.base.operator"></span></li>
                <hr>
              </ul>
              <ul class="col-lg-6 col-xs-12">
                <li>网络状态: <span id="net" ng-bind="vm.selectedBox.detail.networkStatus"></span></li>
                <li>最近一次重新联网: <span ng-bind="vm.selectedBox.detail.reconnectUpdateDate | unixTime"></span></li>
                <li>最近一次断网: <span ng-bind="vm.selectedBox.detail.disconnectUpdateDate | unixTime"></span></li>
                <li>网络信号强度: <span ng-bind="vm.selectedBox.detail.networkSignalStrength"></span></li>
                <li>网络信号质量: <span ng-bind="vm.selectedBox.detail.networkSignalQuality"></span></li>
                <li>网络信号值更新: <span ng-bind="vm.selectedBox.detail.networkSignalUpdateDate | unixTime"></span></li>
              </ul>

              <ul class="col-lg-6 col-xs-12">
                <li>通电状态: <span id="power" ng-bind="vm.selectedBox.detail.powerStatus"></span></li>
                <li>最近一次市电报警开始:<span ng-bind="vm.selectedBox.detail.powerAlarmStartDate | unixTime"></span></li>
                <li>最近一次市电报警结束:<span ng-bind="vm.selectedBox.detail.powerAlarmEndDate | unixTime"></span></li>
                <li>最近一次嵌入式系统启动: <span ng-bind="vm.selectedBox.detail.bootDate | unixTime"></span></li>
                <li>最近一次嵌入式系统启动原因: <span ng-bind="vm.selectedBox.detail.bootReason"></span></li>
                <li><span></span></li>
              </ul>
              <ul class="col-lg-6 col-xs-12">
                <li>烟雾状态: <span id="smoke" ng-bind="vm.selectedBox.detail.smokeStatus"></span></li>
                <li>最近一次烟雾报警开始: <span ng-bind="vm.selectedBox.detail.smokeAlarmStartDate | unixTime"></span></li>
                <li>最近一次烟雾报警结束: <span ng-bind="vm.selectedBox.detail.smokeAlarmTimeEndDate | unixTime"></span></li>
              </ul>
              <ul class="col-lg-6 col-xs-12">
                <li>门禁状态: <span id="door" ng-bind="vm.selectedBox.detail.doorStatus | doorStatus"></span></li>
                <li>最近门禁报警开始: <span ng-bind="vm.selectedBox.detail.doorAlarmStartDate | unixTime"></span></li>
                <li>最近门禁报警结束: <span ng-bind="vm.selectedBox.detail.doorAlarmTimeEndDate | unixTime"></span></li>
              </ul>
              <ul class="col-lg-6 col-xs-12">
                <li>空调状态更新: <span ng-bind="vm.selectedBox.detail.airConditionControlUpdateDate | unixTime"></span></li>
                <li>空调开关状态: <span id="air" ng-bind="vm.selectedBox.detail.airConditionStatus"></span></li>
                <li>空调模式: <span ng-bind="vm.selectedBox.detail.airConditionMode"></span></li>
                <li>空调温度: <span ng-bind="vm.selectedBox.detail.airConditionTemperature"></span></li>
                <li>风量模式: <span ng-bind="vm.selectedBox.detail.airConditionWind"></span></li>
                <li>最近一次空调状态切换: <span ng-bind="vm.selectedBox.detail.airConditionEventUpdateDate | unixTime"></span></li>
              </ul>
              <ul class="col-lg-6 col-xs-12">
                <li>目标温度: <span ng-bind="vm.selectedBox.detail.dstTemperature"></span></li>
                <li>室内温度: <span ng-bind="vm.selectedBox.detail.temperature"></span></li>
                <li>室内温度更新: <span ng-bind="vm.selectedBox.detail.temperatureUpdateDate | unixTime"></span></li>
                <li>室内湿度: <span ng-bind="vm.selectedBox.detail.humidity"></span></li>
                <li>室内湿度更新: <span ng-bind="vm.selectedBox.detail.humidityUpdateDate | unixTime"></span></li>
                <li>PM2.5值: <span ng-bind="vm.selectedBox.detail.pm25"></span></li>
                <li>室内PM2.5更新: <span ng-bind="vm.selectedBox.detail.pm25UpdateDate | unixTime"></span></li>
              </ul>
              <ul class="col-lg-6 col-xs-12">
                <li>设备箱状态: <span id="deviceDoor" ng-bind="vm.selectedBox.detail.deviceDoorStatus | deviceDoorStatus"></span>
                </li>
                <li>设备箱状态更新时间: <span ng-bind="vm.selectedBox.detail.deviceDoorStatusUpdateDate | unixTime"></span></li>
                <li>最近一次开门事件触发: <span ng-bind="vm.selectedBox.detail.doorOpenMode"></span></li>
                <li>最近一次用户输入密码: <span ng-bind="vm.selectedBox.detail.doorPassword"></span></li>
                <li>最近一次用户输入事件: <span ng-bind="vm.selectedBox.detail.doorPasswordUpdateDate | unixTime"></span></li>
              </ul>
              <ul class="col-lg-6 col-xs-12">
                <li>总人数: <span ng-bind="vm.selectedBox.detail.personTotal"></span></li>
                <li>进出人数: <span ng-bind="vm.selectedBox.detail.personNumber"></span></li>
                <li>检测类型: <span ng-bind="vm.selectedBox.detail.personType"></span></li>
                <li>检测方法: <span ng-bind="vm.selectedBox.detail.personMethod"></span></li>
                <li>检测位置: <span ng-bind="vm.selectedBox.detail.personPosition"></span></li>
                <li>最后一次时间: <span ng-bind="vm.selectedBox.detail.personUpdateDate | unixTime"></span></li>
              </ul>
            </div>
            <div class="table-responsive" class="col-lg-6 col-xs-12">
              <H4>盒内设施</H4>
              <div>
                <li>输入状态: <span ng-bind="vm.selectedBox.detail.inputState"></span></li>
                <li>输入更新时间: <span ng-bind="vm.selectedBox.detail.input16StatusUpdateDate | unixTime"></span></li>
                <table class="table table-hover table-bordered">
                  <thead>
                  <tr>
                    <th>输入</th>
                    <th>市电</th>
                    <th>设备箱锁</th>
                    <th>烟感1</th>
                    <th>烟感2</th>
                    <th>人体感应1</th>
                    <th>人体感应2</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>状态</td>
                    <td><span id="detailTablePwrSupply" ng-bind="vm.selectedBoxDis.pwrSupply"></span></td>
                    <td><span id="detailTableDevBoxLock" ng-bind="vm.selectedBoxDis.devBoxLock"></span></td>
                    <td><span id="detailTableSmokeSensor1" ng-bind="vm.selectedBoxDis.smokeSensor1"></span></td>
                    <td><span id="detailTableSmokeSensor2" ng-bind="vm.selectedBoxDis.smokeSensor2"></span></td>
                    <td><span id="detailTableIrSensor1" ng-bind="vm.selectedBoxDis.irSensor1"></span></td>
                    <td><span id="detailTableIrSensor2" ng-bind="vm.selectedBoxDis.irSensor2"></span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <li>输出状态: <span ng-bind="vm.selectedBox.detail.outputState"></span></li>
              <li>输出更新时间: <span ng-bind="vm.selectedBox.detail.outputStatus32UpdateDate | unixTime"></span></li>
              <table class="table table-hover table-bordered">
                <thead>
                <tr>
                  <th>输出</th>
                  <th>排风</th>
                  <th>新风</th>
                  <th>空调1</th>
                  <th>空调2</th>
                  <th>地插1</th>
                  <th>地插2</th>
                  <th>售货机</th>
                  <th>电视</th>
                  <th>照明</th>
                  <th>应急照明</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>状态</td>
                  <td><span id="detailTableExhaust" ng-bind="vm.selectedBoxDis.exhaust"></span></td>
                  <td><span id="detailTableFreshAir" ng-bind="vm.selectedBoxDis.freshAir"></span></td>
                  <td><span id="detailTableAirCon1" ng-bind="vm.selectedBoxDis.airCon1"></span></td>
                  <td><span id="detailTableAirCon2" ng-bind="vm.selectedBoxDis.airCon2"></span></td>
                  <td><span id="detailTableGroundPlug1" ng-bind="vm.selectedBoxDis.groundPlug1"></span></td>
                  <td><span id="detailTableGroundPlug2" ng-bind="vm.selectedBoxDis.groundPlug2"></span></td>
                  <td><span id="detailTableVendingMachine" ng-bind="vm.selectedBoxDis.vendingMachine"></span></td>
                  <td><span id="detailTableIndoorTv" ng-bind="vm.selectedBoxDis.indoorTv"></span></td>
                  <td><span id="detailTableIndoorLight" ng-bind="vm.selectedBoxDis.indoorLight"></span></td>
                  <td><span id="detailTableEmergencyLight" ng-bind="vm.selectedBoxDis.emergencyLight"></span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
  </div>
</section>
